footer(id='footer', style='position:fixed; bottom:0; left:0; height:56px; width:100%;')
  div(class='container-fluid')
    div(class='row', id='jub-row-bottom')
      div(class='col-md-1', id='up-next-label', style='visibility:hidden;') Up next:
      div(class='col-md-8', style='padding-right:0;')
        table(class='table', id='next-dj-banner',
              style='margin-bottom: 0px; margin-top: 6px;')
          tbody
            tr
              td(id='next-track')
              td(id='join-dj-td', rowspan=2)
                button(class='btn btn-default', type='button', id='join-dj',
                       data-toggle='tooltip', data-placement='top',
                       style='margin-top: 11px; float: right; position: relative; top: -5px;'
                       title='Click to DJ')
                  span(id='join-dj-icon', class='glyphicon glyphicon-headphones')
            tr
              td(id='next-dj')
                span(id='next-dj-by-span', visibility: 'hidden',
                     style='color:#777;font-size:12px;margin-right:5px;') by
                span(id='next-dj-name')

      div(class='col-md-3')
        form(id='chat', action='')
          input(class='form-control jub-nav-input',
                id='chat-input', autocomplete='off',
                style='display:inline-block;',
                placeholder='Chat')

script.

  // DJ button
  $('#join-dj').on('click', function() {
    if (!djing) {
      socket.emit('add dj', getUsername());
      console.log("add dj");
      djing = true;
    } else {
      socket.emit('remove dj', getUsername());
      console.log("remove dj");
      djing = false;
    }
    drawDjState();
  });

  // Some other part of the page wants to set the DJ state
  $('#join-dj').on('set-dj-state', function(e, newState) {
    console.log('dj-state', newState);
    djing = newState;
    drawDjState();
  });

  // Server assigns 'djing' state
  socket.on('user djing', function(state) {
    $('#join-dj').trigger('set-dj-state', state);
  });

  // Server assigns 'djing' state
  socket.on('up next', function(list) {
    console.log("up next", list);
    var nextDj = $('#next-dj-name');
    var nextTrack = $('#next-track');
    var labels = $('#up-next-label,#next-dj-by-span');
    if (list.length > 0) {
      var first = list[0];

      nextDj.text(first.user);
      if (first.userColor) { nextDj.css({'color': first.userColor}) }
      nextDj.attr('title', first.user);

      nextTrack.text(first.title);
      nextTrack.attr('title', first.title);
      labels.css('visibility', 'visible');
    } else {
      nextDj.text('');
      nextTrack.text('');
      labels.css('visibility', 'hidden');
    }
    refreshSizes();
  });

  function drawDjState() {
    var elem = $('#join-dj');
    if (djing) {
      elem.css('background', '#2DB85A');
      elem.css('color', '#000');
      $('#join-dj-icon').attr('class', 'glyphicon glyphicon-headphones');
      $('#join-dj').attr('title', 'Stop DJing');
    } else {
      elem.css('background', '#3F2C52');
      elem.css('color', '#FFFFFF');
      $('#join-dj-icon').attr('class', 'glyphicon glyphicon-headphones');
      $('#join-dj').attr('title', 'Click to DJ');
    }
  }

  // Client chat message submission
  $('#chat').submit(function() {
    var msg = $('#chat-input').val();
    var username = getCookie('username');
    if (username == '') {
      alert('You must be logged in to chat.')
    } else {
      socket.emit('chat message', {
        user: username,
        text: msg,
      });
    }
    $('#chat-input').val('');
    return false;
  });



