div(class='col-md-4')
div(class='col-md-4')
  ul(id="login-navtabs", class="nav nav-tabs")
    li(id="login-navtab-li", role="presentation")
      a(id="login-navtab-a", href="#login-tab", data-toggle='tab') Login
    li(id="signup-navtab-li", role="presentation")
      a(id="signup-navtab-a", href="#signup-tab", data-toggle='tab') Sign up

  div(id="login-tab-content", class="tab-content")
    div(class="tab-pane" id="login-tab")
      div(class='panel panel-default', id='login-panel')
        form(id='login-form', method='post', action='login')
          // Magically set by Express render
          input(type="hidden", name="room", value=room, id='which-room')
          table(style='table-layout: fixed;')
            tbody
              tr
                td(style='text-align: right;') Username:
                td(style='max-width: 200px;')
                  input(class='form-control login-form-input', id='login-username-input',
                        name='username', autocomplete='off')
                td(rowspan='3', style='min-width: 50px;')
              tr
                td(style='text-align: right;') Password:
                td(style='max-width: 100px;')
                  input(class='form-control login-form-input', id='login-password-input',
                        name='password', autocomplete='off', type='password')
              tr
                td
                td
                  a(href='/request-password-reset', style='line-height:3.3;') Reset password
                  button(class='btn btn-default', type='submit', id='login',
                         data-toggle='tooltip', data-placement='top',
                         style='margin-top: 11px; float: right; position: relative; top: -5px;'
                         title='Log in') Log in
              tr
                td(colspan='3', style='word-wrap:break-word; padding-bottom: 0px;')
                  div(id='login-error')

    div(class="tab-pane" id="signup-tab")
      div(class='panel panel-default', id='signup-panel')
        form(id='signup-form', method='post', action='signup')
          table
            tbody
              tr
                td(style='text-align: right;') Username:
                td(style='max-width: 200px;')
                  input(class='form-control login-form-input', id='signup-username-input',
                        name='username', autocomplete='off')
              tr
                td(style='text-align: right;') Password:
                td(style='max-width: 200px;')
                  input(class='form-control login-form-input', id='signup-password-input',
                        name='password', autocomplete='off', type='password')
              tr
                td(style='text-align: right;') Email:
                td(style='max-width: 200px;')
                  input(class='form-control login-form-input', id='signup-email-input',
                        name='email', autocomplete='off')
              tr
                td
                td
                  button(class='btn btn-default', type='submit', id='signup',
                         data-toggle='tooltip', data-placement='top',
                         style='margin-top: 11px; float: right; position: relative; top: -5px;'
                         title='Sign up') Sign up
              tr
                td(colspan='3', style='word-wrap:break-word; padding-bottom: 0px;')
                  div(id='signup-error')

div(class='col-md-4')

script.

  $( document ).ready(function() {
    // Document is loaded so click the correct initially-active tab
    var activeTab = "!{tab}";
    if (activeTab === 'signup') {
      $('#signup-navtab-a').click();
    } else {
      $('#login-navtab-a').click();
    }
    $('#signup-form').submit(function(e) {
      var signupData = {
        username: $('#signup-username-input').val(),
        password: $('#signup-password-input').val(),
        email: $('#signup-email-input').val()
      };
      $.post('/signup', signupData)
        .done(function(resultData) {
          if (resultData.success === true) {
            // login
            $('#login-username-input').val(signupData.username);
            $('#login-password-input').val(signupData.password);
            $('#login-form').submit();
          } else {
            $('#signup-error').text(resultData.errorMsg);
          }
        });
      e.preventDefault();
    });

    $('#login-form').submit(function(e) {
      var loginData = {
        username: $('#login-username-input').val(),
        password: $('#login-password-input').val(),
      };
      $.post('/login', loginData)
        .done(function(resultData) {
          if (resultData.success === true) {
            var confUrl = '/login-confirm';
            confUrl += '?username=' + loginData.username;

            var room = $('#which-room').val();
            if (room) { confUrl += '&room=' + room; }
            window.location.href = confUrl;
          } else {
            $('#login-error').text(resultData.errorMsg);
          }
        });
      e.preventDefault();
    });

  });
