div(class='col-md-4')
div(class='col-md-4')
  div(class='panel panel-default', id='request-password-reset-panel')
    div(style='font-size:19px; margin: 0px 0px 10px 0px; text-align: center;') Enter your username to receive a password reset link via email.
    form(id='request-password-reset-form', method='post', action='request-password-reset')
      // Magically set by Express render
      input(type="hidden", name="room", value=room, id='which-room')
      table(style='table-layout: fixed;')
        tbody
          tr
            td(style='width: 80%; padding-right: 10px;')
              input(class='form-control login-form-input',
                    id='request-password-reset-username-input',
                    name='request-password-reset-username', autocomplete='off',
                    placeholder='Username')
            td
              button(class='btn btn-default', type='submit',
                     id='request-password-reset-submit',
                     data-toggle='tooltip', data-placement='top',
                     style='margin-top: 11px; float: left; \
                     position: relative; top: -5px;',
                     title='Reset your password') Submit
          tr
            td(colspan='3', style='word-wrap:break-word; padding-bottom: 0px;')
              div(id='request-password-reset-status')

script.

  $( document ).ready(function() {
    $('#request-password-reset-form').submit(function(e) {
      var data = {
        username: $('#request-password-reset-username-input').val(),
      };
      $.post('/request-password-reset', data)
        .done(function(resultData) {
          $('#request-password-reset-status').text(resultData.message);
        });
      e.preventDefault();
    });

  });
