div(class='col-md-4')
div(class='col-md-4')
  div(class='panel panel-default', id='reset-password-panel')
    if !valid
      div(style='font-size:19px; margin: 0px 0px 10px 0px; text-align: center;')= validationMessage
    else
      div(style='font-size:19px; margin: 0px 0px 10px 0px; text-align: center;') Enter a new password:
      form(id='reset-password-form', method='post', action='reset-password')
        // Magically set by Express render
        input(type="hidden", name="token", value=token, id='token')
        input(type="hidden", name="username", value=username, id='username')
        table(style='table-layout: fixed;')
          tbody
            tr
              td(style='text-align: right;') New Password:
              td(style='max-width: 200px;')
                input(class='form-control login-form-input', id='reset-password-input-1',
                      name='password-2', autocomplete='off', type='password')
              td(rowspan='3', style='min-width: 50px;')
            tr
              td(style='text-align: right;') Again:
              td(style='max-width: 100px;')
                input(class='form-control login-form-input', id='reset-password-input-2',
                      name='password-1', autocomplete='off', type='password')
            tr
              td
              td
                button(class='btn btn-default', type='submit', id='reset-password-submit',
                       data-toggle='tooltip', data-placement='top',
                       style='margin-top: 11px; float: right; position: relative; top: -5px;'
                       title='Submit') Submit
            tr
              td(colspan='3', style='word-wrap:break-word; padding-bottom: 0px;')
                div(id='reset-password-status')

script.

  $( document ).ready(function() {
    $('#reset-password-form').submit(function(e) {
      var token = $('#token').val();
      var password = $('#reset-password-input-1').val();
      console.log('password', password);
      var username = $('#username').val();
      if (password !== $('#reset-password-input-2').val()) {
        $('#reset-password-status').text('Password fields much match.');
      } else {
        var data = {
          token: token,
          username: username,
          password: password,
        }
        $.post('/reset-password', data)
          .done(function(resultData) {
            if (resultData.success === true) {
              var confUrl = '/reset-password-confirm';
              window.location.href = confUrl;
            } else {
              $('#reset-password-status').text(resultData.message);
            }
          });
      }
      e.preventDefault();
    });
  });
