div(class='col-md-4')
div(class='col-md-4')
  div(style='font-size:36px; text-align: center;')
    span Welcome to the pub!
  br
  br
  div(class='panel panel-default', id='login-panel')
    div(style='font-size:19px; margin: 0px 0px 10px 0px; text-align: center;')
      span Please&nbsp
      if room
        a(href='/login?room='+room) login
      else
        a(href='/login') login
      span &nbspor join as a guest.

    form(class='form-horizontal' id='nickname-form', method='post', action='nickname', role='form')
      // Magically set by Express render
      input(type="hidden", name="room", value=room, id='which-room')
      table(style='table-layout: fixed;')
        tbody
          tr
            td(style='width: 80%; padding-right: 10px;')
              input(class='form-control login-form-input', id='nickname-input',
                    name='nickname', autocomplete='off',
                    placeholder='Choose a nickname')
            td
              button(class='btn btn-default', type='submit', id='join-as-guest',
                     data-toggle='tooltip', data-placement='top',
                     style='margin-top: 11px; float: left; \
                     position: relative; top: -5px;',
                     title='Join as a guest') Join as a guest

script.

  $( document ).ready(function() {
    $('#nickname-form').submit(function(e) {
      var guestData = {
        nickname: $('#nickname-input').val(),
      };
      $.post('/join-as-guest', guestData)
        .done(function(resultData) {
          if (resultData.success === true) {
            var confUrl = '/login-confirm';
            confUrl += '?username=' + guestData.nickname;

            var room = $('#which-room').val();
            if (room) { confUrl += '&room=' + room; }
            window.location.href = confUrl;
          } else {
            //$('#nickname-error').text(resultData.errorMsg);
            alert(resultData.errorMsg);
          }
        });
      e.preventDefault();
    });

  });
